<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>angularJs ui-select</title>
	<link rel="stylesheet" href="../org/bootstrap-3.3.4/css/bootstrap.css"/>
	<link rel="stylesheet" href="../org/angularjs/angular-ui-select/dist/select.css"/>
	<link rel="stylesheet" href="table.css"/>
	<script type="text/javascript" src="../org/jquery.min.js"></script>
	<script type="text/javascript" src="../org/angularjs/angular/angular.js"></script>
	<script type="text/javascript" src="../org/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../org/angularjs/angular-ui-select/dist/select.min.js"></script>
	<script type="text/javascript" src="../org/angularjs/angular-sanitize/angular-sanitize.js"></script>
   	<script type="text/javascript" src="table1.js"></script>
</head>
<body ng-controller="ctrl">
	<div class="clear">
		<br>
		<table id="schedule_table" class="schedule_table full-width-table">
              	<tr style="background: rgb(239, 244, 248);">
	                <th></th>
	                <th class="scheDateData {{curDay==weeks.week_1?'thisday':''}} scheduleWeekDayExpired">周一（{{weeks.week_1}}）</th>
	                <th class="scheDateData {{curDay==weeks.week_2?'thisday':''}} scheduleWeekDayExpired" >周二（{{weeks.week_2}}）</th>
	                <th class="scheDateData {{curDay==weeks.week_3?'thisday':''}}">周三（{{weeks.week_3}}）</th>
	                <th class="scheDateData {{curDay==weeks.week_4?'thisday':''}}">周四（{{weeks.week_4}}）</th>
	                <th class="scheDateData {{curDay.toString()==weeks.week_5.toString()?'thisday':''}}">周五（{{weeks.week_5}}）</th>
	                <th class="scheDateData {{curDay==weeks.week_6?'thisday':''}}">周六（{{weeks.week_6}}）</th>
	                <th class="scheDateData {{curDay==weeks.week_7?'thisday':''}}">周日（{{weeks.week_7}}）</th>
              	</tr>
              	<tr class="schedule_tram">
 					<td style="border-bottom: 1px solid #dfdfdf; ">
	                   <p title="上午">上午</p>
	                </td>
	                <td class="schedule_td {{$index==selIndex?'selected':''}}" ng-click="change($index)"
	                	ng-repeat="aa in amList track by $index">
	                	<div>
		                	<p class="schedule_p" ng-repeat="bb in aa.datas">
		                		<span style="margin: 5px;">{{bb.name}}</span>
		                		<span class="schedule_span" style="color: red;" ng-click="del(bb);$event.stopPropagation();">移除</span>
		                	</p>
		                </div>
	                </td>
              	</tr>
				<tr class="schedule_trpm">
 					<td>
	                   <p class="am schedulSetName" title="下午">下午</p>
	                </td>
	                <td class="schedule_td odd" ng-click="change()">
	                	&nbsp;请点击排班
	                </td>
	                <td class="schedule_td odd">
	                	&nbsp;请点击排班
	                </td>
	               <td class="schedule_td odd">
	                	&nbsp;请点击排班
	                </td>
	                <td class="schedule_td odd">
	                	&nbsp;请点击排班
	                </td>
	                <td class="schedule_td odd">
	                	&nbsp;请点击排班
	                </td>
	                <td class="schedule_td odd">
	                	&nbsp;请点击排班
	                </td>
	                <td class="schedule_td odd" >
	                	&nbsp;请点击排班
	                </td>
              	</tr>
        </table>

        <div>
        	<input type="button" value="test" ng-click="getDate()">
        	<input type="button" value="上一周" ng-click="getPre()">
        	<input type="button" value="下一周" ng-click="getNext()">
        	<input type="button" value="本周" ng-click="getCur()">
        </div>
		<script type="text/javascript">
			
	</script>
</body>
</html>